body{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/dots.gif) 50% 50% no-repeat #fff;
    opacity: 5;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.abc{
	background-image: url(../images/h%C3%A4nder.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.akkun{
	background-color: ghostwhite;
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.resume{
	background-image: url(https://4.bp.blogspot.com/-990xkjqmwvs/WI7bBFLj0kI/AAAAAAAAAQI/kKqWEwrRTLkL7IDdhnLYJDNv-MecjT2RwCLcB/w1200-h630-p-k-no-nu/Bookss.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.abp{
	background-image: url(../images/photodune-15766515-desk-with-various-gadgets-and-office-supplies-flat-lay-xxl2.jpg);
	
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.abd{
	background-image: url(../images/business-people-office-ss-1920.jpg);
	
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.abe{
	background-image: url(../images/about_us_1.131175826_std1.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.abf{
	background-image: url(../images/0863f4f23129ae6fad2d4437c4c7ddf52017-07-29-17-33-48.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.abk{
	background-image: url(http://www.stmikmj.ac.id/assets/img/post/0863f4f23129ae6fad2d4437c4c7ddf52017-07-29-17-33-48.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.kerjaa{
	background-image: url(https://images6.alphacoders.com/391/391339.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.perus{
	background-image: url(https://media.glassdoor.com/l/bd/a9/6d/ce/clean-office.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	position: relative;
}
.perusa{
	background-color: #fafafa !important;
}

.contakus{
	background-color: #fafafa !important;
}
.headerContainer,
.bodyContainer,
.footerContainer {
	max-width: 960px;
	margin: 0 auto;
	background: #FFF;
	position: static;
}
.bodyContainer {
	min-height: 500px;
}

.headerContainerWrapper {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: top 500ms ease;
	-moz-transition: top 500ms ease;
	-o-transition: top 500ms ease;
	transition: top 500ms ease;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}
.scrollActive .headerContainerWrapper {
	position: fixed;
	background-color: #000d21 !important;
	z-index: 999;

}
.sosmed li>a :hover{
	background-color: #000 !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover:before{
    opacity: 1;
}
.navbar-nav>li>a:before
	{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 4px;
		position: absolute;
		left: 0;
		top: -10px;
		background-color: #f3a913;
		border-radius: 3px;
	}
.sos{
	color: #fff;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	height: 40px;
}
.sos:hover{
	background-color: rgba(0,0,0,0.26;) !important;
}
.lokasi{
	text-align: center;
	
}
.griddd{
	position: relative;
}
.whatloker{
	background-color: #bf3654;
	margin: 5px;
	padding-left: 10px !important;
}
.whatloker:hover{
	background-color: rgb(243, 169, 19) !important;
	margin: 5px !important;
	padding-left: 0px;
	border: none;
}
.whatloker:hover .lingkar>a{
	color: #000 !important;
}
.deskrip{
	padding-top: 0px !important;
	padding-bottom: 0px;
	padding-left: 30px;
	margin: 0px;
}
.proseskami:before
	{
		opacity: 1;
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		top: 65px;
		background-color: #bf3654;
		border-radius: 3px;
		text-align: center;
		margin: 0px auto;
		padding-left: 20px;
		padding-right: 20px;
	}
.pros:hover{
	box-shadow: 1px 1px 40px rgba(0,0,0,0.2);
}

.griddd:hover{/*
	box-shadow: 1px 1px 40px rgba(0,0,0,0.2);*/
}
.tim:hover .timm{
	display: block !important;
}
.subs{

	background-image: url(../images/glare_background_blur_dark_63553_1280x720.jpg);
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
}
.lowpeker:hover{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20) !important;
}
.working{
	background-color: #fff;
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
}

.maps{
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
}
.foot{

	background-color: #000d21;
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
}

.sosfoot{
	color: #bf3654;
	font-size: 28px;
	margin: 0px;
	padding: 0px;
	height: 40px;
}
.sosfoot:hover{
	color: #fff;
}
.footeer{

	background-color: #000d21;
	height: auto; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
}
.desja:before{
    content: " ";
    width: 100%;
    position: absolute;
    height: 3px;
    color: black;
    background-color: #000;
    top: 0px;
    left: 0px;
    opacity: 1;
}
@media only screen and (max-width: 1024px){
	.sosmed{
		display: none !important;
	}
	.daft p{
		text-align: center; !important;
	}
}
@media only screen and (max-width: 425px){
	.sosmed{
		display: none !important;
	}
	.subhead{
		padding-left: 10px !important;
	}
	.subhead h1{
		font-size: 40px !important;
	}
	.subhead p{
		font-size: 16px !important;
	}
	.subhead h3{
		color: #fff !important;
		text-shadow: 2px 2px 2px #000;
	}

	.navbar-default .navbar-nav>li>a:hover {
    	color: #fff !important;
    	font-weight: bold;
    	background-color: #000 !important;
    	border-radius: 2px !important;
	}
	.navbar-default .navbar-nav>li>a:hover:before{
    	opacity: 1;
	}
	.navbar-nav>li>a:before
		{
		opacity: 0;
		transition: all .4s ease;
		content:"";
		width: 100%;
		height: 4px;
		position: absolute;
		left: 0;
		top: 40px;
		background-color: #f3a913;
		border-radius: 3px;
	}
	.whatloker
	{
	background-color: #bf3654;
	margin: 0px;
	padding-left: 0px !important;
	padding-right: 0px;
	text-align: center!important;
	}
	.whatloker h3
	{
	font-size: 18px;
	background-color: #bf3654;
	margin: 0px;
	padding-left: 0px !important;
	padding-right: 0px;
	text-align: center!important;
	}
	.whatloker .lingkar
	{
		display: none;
	margin-bottom: 10px;		
	text-align: center!important;
	}

	.deskrip{
	padding-top: 0px !important;
	padding-bottom: 0px;
	padding-left: 0px !important;
	margin: 0px;
	text-align: left;
	}
	.daft p{
		text-align: center !important;
	}
	.working{
		display: none;
	}
	.sosfoot a{
	color: #fff;
	font-size: 14px !important;
	margin: 0px;
	padding: 0px;
}
}








